$medium: 768px!default;
$large: 1000px!default;

$medium-down: "only screen and (max-width: #{$medium})";
$medium-up: "only screen and (min-width: #{$medium})";

$large-down: "only screen and (max-width: #{$large})";
$large-up: "only screen and (min-width: #{$large})";