includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - src/Migrations/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    autoload_files:
        - bin/.phpunit/phpunit-7.5-0/vendor/autoload.php

