:root {
  --color: #000;
  --bg: #d7d7d7;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding)*2);
}

.shiritori-home, .shiritori-play, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: var(--container-width);
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --container-width: 60%;
  }
}
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: var(--color);
  background-color: var(--bg);
}

svg {
  display: block;
}

.alert {
  text-align: center;
  margin: 1rem;
  min-height: 32px;
}

.validation_error {
  background-color: #ff5d3e;
  padding: 0.4rem;
}

.success {
  background-color: #41f085;
  padding: 0.4rem;
}

.form-section {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-section__form {
  width: 100%;
}

.form-section__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-section__row {
  margin-right: 1rem;
}

input {
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
}

input:focus {
  outline: none;
}

button.submit {
  padding: 0.4rem;
  border: none;
  cursor: pointer;
  background: #ff4f5a;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  min-width: 100px;
}

.delete-btn {
  padding: 0.4rem;
  border: none;
  cursor: pointer;
  background: #bfbfbf;
  color: #000;
  border-radius: 8px;
  font-size: 1rem;
  width: 30px;
  opacity: 0.5;
  border-radius: 14px;
}
.delete-btn:hover {
  opacity: 0.9;
}

.btn-loader {
  position: relative;
}

.btn-loader::after {
  content: "";
  position: absolute;
  animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
.book-loader {
  border: 4px solid rgba(0, 0, 0, 0.76);
  border-radius: 4px;
  width: 60px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  perspective: 200px;
  background: #d7d7d7;
}

.book-loader .page {
  display: block;
  border: 4px solid rgba(0, 0, 0, 0.76);
  border-radius: 4px;
  width: 32px;
  height: 40px;
  position: absolute;
  top: -4px;
  right: -6px;
  background: #d7d7d7;
  transform-origin: left center;
  transform-style: preserve-3d;
  overflow: hidden;
}
.book-loader .page:nth-child(1) {
  animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
}
.book-loader .page:nth-child(2) {
  animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.4s infinite;
}
.book-loader .page:nth-child(3) {
  animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}

@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
.shiritori-play__header {
  margin: 4rem 0 1rem 0;
  text-align: center;
}
.shiritori-play__header h1 {
  font-size: 2rem;
}
.shiritori-play__header p {
  margin-top: 0.4rem;
}

.shiritori-play__footer {
  margin-top: 4rem;
  text-align: center;
  max-width: 80%;
}

.example_kanji {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem;
}

.string-section {
  width: 100%;
}

.string {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.76) rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
}

.string::-webkit-scrollbar {
  height: 4px;
  background-color: #aaa;
}

.string::-webkit-scrollbar-thumb {
  background: #000;
}

.string p {
  white-space: nowrap;
  cursor: pointer;
}
.string p:after {
  content: ">";
  margin: 0 6px;
  color: #000;
}
.string p:hover {
  color: #ff4f5a;
}

.active {
  color: #ff4f5a;
}

.info-active {
  background: #ff4f5a;
  padding: 0.4rem;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 2px 20px #aeaeae;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-info {
  margin-right: 1rem;
}

.btn-new {
  padding: 0.4rem;
  border: none;
  cursor: pointer;
  background: #ff4f5a;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
