/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html{
    scroll-behavior: smooth;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul{
    list-style: none;
}

body{
    background-color: #d7d7d7;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header{
    margin: 4rem 0 1rem 0;
    text-align: center;
    max-width: 80%;
}

header p{
    margin-top: .4rem;
}

.example_kanji{
    background-color: #ffffff;
    border-radius: 50%;
    padding: .2rem;
}

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
}

.alert{
    text-align: center;
    margin: 1rem;
    min-height: 32px;
}

.validation_error{
    background-color: #ff5d3e;
    padding: .4rem;
}

.success{
    background-color: #41f085;
    padding: .4rem;
}

.form-section{
    width: 100%;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-section__form{
    width: 100%;
}

.form-section__input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-section__row{
    margin-right: 1rem;
}

input{
    padding: .4rem;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
}

input:focus{
    outline: none;
}

button{
    padding: .4rem;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

button.submit{
    background-color: #ff4f5a;
    color: white;
}

.string-section{
    width: 100%;
}

.string{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.76) rgba(0,0,0,0);
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem;
}

.string::-webkit-scrollbar{
    height: 4px;
    background-color: #aaa;
}

.string::-webkit-scrollbar-thumb{
    background: #000;
}

.string p{
    white-space: nowrap;
}

footer{
    margin-top: 4rem;
    text-align: center;
    max-width: 80%;
}

footer form{
    margin-top: 1rem;
}

@media screen and (min-width: 740px){
    .container{
        width: 60%;
    }
}