.btn-loader{
  position: relative;
}

.btn-loader::after{
  content: '';
  position: absolute;
  animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}